# This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

### THIS IS THE SYNCVRAFT-V3 CONFIG FILE!!! CAUTION WITH MODEL MSIMATCH!!! ###

# Mainsail Config File
[include mainsail.cfg]

# Macros
[include macros.cfg]

# Probe 
#[include probe.cfg]

# Bed Mesh 
[include bed-mesh.cfg]

# Bed Tilt 
#[include bed-tilt.cfg]

# Calibration
[include calibration.cfg]

# Bed calibration
[include calibration.cfg] 

# Z Tilt Adjustment
[include z-tilt.cfg]

# Auto Filament Change
[include auto-filament-change.cfg]

# Extruder Accel
[include extruder-accel.cfg]

# Materials
[include materials.cfg]

[respond]

[save_variables]
filename: /home/pi/printer_data/config/variables.cfg

# [delayed_gcode last_extruder]
# gcode:
# 	{% set svv = printer.save_variables.variables %}
# 	{% if svv.currentextruder == 'extruder' %}
# 		SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=extruder
# 		SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=
# 		SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=active_extruder VALUE=0
# 	{% else %}
# 		SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=
# 		SYNC_EXTRUDER_MOTION EXTRUDER=extruder1 MOTION_QUEUE=extruder
# 		SET_GCODE_VARIABLE MACRO=AUTO_FILAMENT_CHANGE VARIABLE=active_extruder VALUE=1
# 	{% endif %}
# initial_duration: 1.0

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[display_status]

[gcode_arcs]
resolution: 0.75

[pause_resume]
recover_velocity: 200

# Enable endstop phase calibration 
[endstop_phase]

[skew_correction]

[input_shaper]
shaper_freq_x: 42.35  # frequency for the X mark of the test model
shaper_freq_y: 42.35  # frequency for the Y mark of the test model
shaper_type: mzv

###########################################################################
###########################################################################
#                                                                         #
#			Motor Configuration                               #
#                                                                         #
###########################################################################
###########################################################################

[stepper_x]
step_pin: PE9
dir_pin: !PF1
enable_pin: !PF2
rotation_distance: 40
microsteps: 128
step_pulse_duration: 0.000000100
endstop_pin: PB10
position_endstop: -23.5
position_min: -23.75
position_max: 331
homing_speed: 75
homing_retract_dist: 5.0

[tmc2209 stepper_x]
uart_pin: PC13
run_current: 0.99
interpolate: False
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 4
driver_HEND: 3
driver_HSTRT: 0
diag_pin: PE12
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True
# driver_TBL: 1
# driver_TOFF: 4
# driver_HEND: 1
# driver_HSTRT: 0
# diag_pin: PE12
# driver_PWM_REG: 1
# driver_PWM_FREQ: 1
# driver_PWM_OFS: 36
# driver_PWM_GRAD: 14
# driver_PWM_AUTOGRAD: True
# driver_PWM_AUTOSCALE: True

############################################################################

[stepper_y]
step_pin: PE11
dir_pin: PE8
enable_pin: !PD7
rotation_distance: 40
microsteps: 128
step_pulse_duration: 0.000000100
endstop_pin: PE12
position_endstop: 303
position_min: -3
position_max: 304
homing_speed: 75

[tmc2209 stepper_y]
uart_pin: PE3
run_current: 1.131
interpolate: False
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 4
driver_HEND: 3
driver_HSTRT: 0
diag_pin: PE12
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True

#############################################################################

[stepper_z]
step_pin: PE13
dir_pin: !PC2
enable_pin: !PC0
rotation_distance: 8
microsteps: 128
#step_pulse_duration: 0.000000100
endstop_pin: PG8
#position_endstop: 343
position_min: -3.5
position_max: 343
homing_speed: 12.0
homing_retract_dist: 5.0
homing_retract_speed: 15
second_homing_speed: 3

[tmc2209 stepper_z]
uart_pin: PE1
run_current: 0.700
interpolate: False
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 3
driver_HEND: 3
driver_HSTRT: 2
diag_pin: PG8
#sense_resistor: 0.5
#driver_PWM_REG: 15
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True

############################################################################

[stepper_z1]
step_pin: PE14
dir_pin: !PA0
enable_pin: !PC3
rotation_distance: 8
microsteps: 128
#step_pulse_duration: 0.000000100
[tmc2209 stepper_z1]
uart_pin: PD4
run_current: 0.700
interpolate: False
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 3
driver_HEND: 3
driver_HSTRT: 2
#diag_pin: PE15
#sense_resistor: 0.5
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True

############################################################################

[extruder]
step_pin: PD15
dir_pin: !PE7
enable_pin: !PA3
full_steps_per_rotation: 200
rotation_distance: 30.850
microsteps: 32
step_pulse_duration: 0.000000100
gear_ratio: 33:11
pressure_advance: 0.0
pressure_advance_smooth_time: 0.04
nozzle_diameter: 0.400
filament_diameter: 2.850
heater_pin: PB1 # Heat0
sensor_pin: PF3 # T0 Header
sensor_type: PT1000
pullup_resistor: 4700
max_power: 1.0
smooth_time: 1.0
control: pid
pid_Kp: 13.948
pid_Ki: 0.992
pid_Kd: 88.663
pwm_cycle_time: 0.1
max_extrude_only_distance: 1200.0
max_extrude_cross_section: 50
max_extrude_only_velocity: 45
max_extrude_only_accel: 5000
instantaneous_corner_velocity: 1.000
min_extrude_temp: 0
min_temp: 0
max_temp: 360

[tmc2209 extruder]
uart_pin: PD1
run_current: 1.131
interpolate: False
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 4
driver_HEND: 3
driver_HSTRT: 0
#diag_pin: PE10
#sense_resistor: 0.5
driver_PWM_AUTOGRAD: True
driver_PWM_AUTOSCALE: True

############################################################################

# [extruder_stepper extruder1]
# extruder:
# step_pin: PD13
# dir_pin: !PG9
# enable_pin: !PF0
# rotation_distance: 30.850
# microsteps: 32
# #step_pulse_duration: 0.000000100
# gear_ratio: 33:11


# [tmc2209 extruder_stepper extruder1]
# uart_pin: PD6
# run_current: 1.131
# interpolate: False
# stealthchop_threshold: 0
# driver_TBL: 1
# driver_TOFF: 4
# driver_HEND: 3
# driver_HSTRT: 0
# #diag_pin: PG5
# #sense_resistor: 0.5
# driver_PWM_AUTOGRAD: True
# driver_PWM_AUTOSCALE: True

############################################################################

[heater_bed]
heater_pin: PB0 #PD12
sensor_pin: PF4 # T1
sensor_type: Generic 3950
control: pid
pid_Kp: 16.040
pid_Ki: 0.342
pid_Kd: 188.273
max_power: 0.5
min_temp: 0
max_temp: 165

############################################################################

[fan]
pin: PC8 #PE5

############################################################################

[heater_fan fan1]
pin: PE5 #PC8
hardware_pwm: False
cycle_time: 0.01
max_power: 1.0
shutdown_speed: 0
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

############################################################################

[heater_generic filament_heater]
gcode_id: Filament Heater
heater_pin: PD14
max_power: 0.75
sensor_type: PT1000
pullup_resistor: 4700
sensor_pin: PF5
smooth_time: 1.0
control: pid
pid_Kp: 11.250
pid_Ki: 0.365
pid_Kd: 160.394
pwm_cycle_time: 0.001
min_temp: 0
max_temp: 90
#   See the "extruder" section for the definition of the above
#   parameters.


############################################################################

# [controller_fan controller_fan]
# pin: PD14
# max_power: 0.75
# shutdown_speed: 0
# cycle_time: 0.010
# hardware_pwm: False
# kick_start_time: 0.1
# off_below: 0.0
# fan_speed: 1.0
# idle_timeout: 50
# idle_speed: 1.0
# heater: extruder
############################################################################

#[controller_fan driver_fan]
#pin: PE6
#max_power: 1.0
#shutdown_speed: 0
#cycle_time: 0.010
#hardware_pwm: False
#kick_start_time: 0.1
#off_below: 0.0
#fan_speed: 1.0
#idle_timeout: 50
#idle_speed: 1.0
#heater: extruder

############################################################################

[fan_generic air_flow_fan]
pin = PD12
#tachometer_pin: PC14
max_power = 1.0
shutdown_speed = 0
cycle_time = 0.00004
hardware_pwm = False
kick_start_time = 0.2
off_below = 0.2
#fan_speed = 1.0
#idle_speed = 1.0

[temperature_sensor chamber_fan]
sensor_type: Generic 3950
sensor_pin: PF6
pullup_resistor: 4700
min_temp: 0
max_temp: 70
gcode_id: Chamber

# [temperature_fan chamber_fan]
# pin: PD12 #PB0
# max_power: 1.0
# shutdown_speed: 0.0
# cycle_time: 0.10
# hardware_pwm: False
# kick_start_time: 0.05
# off_below: 0.15
# sensor_type: Generic 3950
# sensor_pin: PF6
# control: pid
# pid_Kp: 20.040
# pid_Ki: 0.050
# pid_Kd: 190
# #pid_deriv_time: 1
# #pid_integral_max: 1
# #max_delta:
# min_temp: 0
# max_temp:120
# target_temp: 40.0
# max_speed: 1.0
# min_speed: 0.0
# gcode_id: C

############################################################################

#[heater_fan fan2]
#pin: PE6


#############################################################################
#######################      LED CONTROL     ################################
#############################################################################

[output_pin case_light]
pin: PE6
pwm: True
#static_value:
#   If this is set, then the pin is assigned to this value at startup
#   and the pin can not be changed during runtime. A static pin uses
#   slightly less ram in the micro-controller. The default is to use
#   runtime configuration of pins.
value: 0.5
#   The value to initially set the pin to during MCU configuration.
#   The default is 0 (for low voltage).
#shutdown_value:
#   The value to set the pin to on an MCU shutdown event. The default
#   is 0 (for low voltage).
cycle_time: 0.001
#hardware_pwm: False

############################################################################

[neopixel progress_leds]
pin: PC9
chain_count: 37
#color_order: RBG   #The default is GRB.
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

############################################################################

[neopixel heater_leds]
pin: PC1
chain_count: 2
#color_order: RBG   #The default is GRB.
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

############################################################################

[mcu]
serial: /dev/ttyACM0
#serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_20004F001751363436393637-if00

############################################################################

[printer]
# buffer_time_high: 6
# max_accel_to_decel: 7000 # deprecated, use 'minimum_cruise_ratio'.
kinematics: cartesian
max_velocity: 500
max_accel: 7000
max_z_velocity: 25
max_z_accel: 200
square_corner_velocity: 12.0

############################################################################

[probe]
pin: PG5
#z_offset: -0.600	#Z position after probing
speed: 3.0	#Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
samples: 3
#   The number of times to probe each point. The probed z-values will
#   be averaged. The default is to probe 1 time.
#sample_retract_dist: 0.5
#   The distance (in mm) to lift the toolhead between each sample (if
#   sampling more than once). The default is 2mm.
lift_speed: 10
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples. The default is to use the same value as the 'speed'
#   parameter.
samples_result: average
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is average.
samples_tolerance: 0.125
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. If this tolerance is exceeded then either an error is
#   reported or the attempt is restarted (see
#   samples_tolerance_retries). The default is 0.100mm.
samples_tolerance_retries: 1
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. On a retry, all current samples are discarded
#   and the probe attempt is restarted. If a valid set of samples are
#   not obtained in the given number of retries then an error is
#   reported. The default is zero which causes an error to be reported
#   on the first sample that exceeds samples_tolerance.

############################################################################

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PG4, EXP1_3=PD11, EXP1_5=PG2, EXP1_7=PG6, EXP1_9=<GND>,
    EXP1_2=PA8, EXP1_4=PD10, EXP1_6=PG3, EXP1_8=PG7, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PG10, EXP2_5=PF11, EXP2_7=PF12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=PF13
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi2"

# See the sample-lcd.cfg file for definitions of common LCD displays.
############################################################################