#############################################################################
###############	 Screw Adjust Configuration File - Aura M1	#####################
#############################################################################


##############################################################################
# This adds a bed screws adjust GCode for manual adjustments
# Macro command: BED_SCREWS_ADJUST

[bed_screws]
screw1: 20,20
screw1_name: Front left screw
screw2: 280,20
screw2_name: Front right screw
screw3: 157.5,285
screw3_name: Rear center screw
##############################################################################


##############################################################################
# This adds a screw tilt adjust command that probes certain points on the bed
# and recommends new bed screw positions

[screws_tilt_adjust]
screw1: 0,5
screw1_name: Front left screw
screw2: 300,5
screw2_name: Front right screw
screw3: 157.5,300
screw3_name: Rear center screw
horizontal_move_z: 5
speed: 250
screw_thread: CW-M3
##############################################################################